{% extends 'admin_base.html' %}
{% load static%} 
{% block body %}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Password</h4>
        <p class="card-description">
        
        </p>
        {% for i in adm %}
        <form class="forms-sample pt-4" method="post" action="" enctype="multipart/form-data">
             {% csrf_token %} 
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                          <label>Old password</label>
                          <input type="text" name="currentPassword" value="{{i.password}}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                          <label>New password</label>
                          <input type="password" name="newPassword" class="form-control" id="newpass">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Confirm password</label>
                          <input type="password" name="confirmPassword" class="form-control" id="conpassword">
                    </div>
                </div>
            </div>
            <br>
<span id='message'></span>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('#conpassword').on('change', function () {
if ($('#newpass').val() == $('#conpassword').val()) {
$('#message').html('Matching').css('color', 'green');
} else 
$('#message').html('Not Matching').css('color', 'red');
});
</script>
         
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}